*~
*.bak
*.log

*.class
target/*

.project
.classpath
.settings/*
*nb-configuration.xml
# ^^^ we shouldn't keep IDEs settings in repo

# Package Files #
*.jar
*.war
*.ear

# Astyle Files #
*.orig

*/target/*
dependency-reduced-pom.xml
