*~
*.bak
*.log
*.swp

*.class
target/*

.project
.classpath
*/.settings/*
.settings/*
*nb-configuration.xml
.idea
*.iml
*.jpr
# ^^^ we shouldn't keep IDEs settings in repo

# Package Files #
*.jar
*.war
*.ear

# Astyle Files #
*.orig

*/target/*
dependency-reduced-pom.xml

# generated
troia-data-generator/test-results/*
data/galc/generated/

